Materia_2-PowerBi/~$IP - EX 11 - Funcao SE I (Anexo).xlsx
Materia_2-PowerBi/~$IP - EX 12 - Funcao SE II (Anexo).xlsx
Materia_2-PowerBi/~$IP - EX 14 - Travamento de celulas (Anexo).xlsx
Materia_2-PowerBi/~$IP - EX 15 - Gerenciador de nomes (Anexo).xlsx
Materia_2-PowerBi/~$IP - EX 16 - Trabalhando com a matematica (Anexo).xlsx
Materia_2-PowerBi/~$IP - EX 17 - Funcao arrumar (Anexo).xlsx
Materia_2-PowerBi/~$IP - EX 18 - Funcoes logicas (e - ou) (Anexo).xlsx
Materia_2-PowerBi/~$IP - EX 19 - Funcao Cont.se e Cont.ses (Anexo).xlsx
Materia_2-PowerBi/~$IP - EX 20 - Funcao Somase e Somases (Anexo).xlsx
Materia_2-PowerBi/~$IP - EX 23 - Formatacao condicional pre-definida (Anexo).xlsx
Materia_2-PowerBi/~$IP - EX 24 - Formatacao condicional padrao (Anexo).xlsx
Materia_2-PowerBi/~$IP - EX 25 - Formatacao condicional com formulas (Anexo).xlsx
Materia_2-PowerBi/~$IP - EX 28 - Filtro simples (Anexo).xlsx
Materia_2-PowerBi/~$IP - EX 29 - Congelar, dividir paineis e agrupamento (Anexo).xlsx
Materia_2-PowerBi/~$IP - EX 30 - Remover duplicatas (Anexo).xlsx
Materia_2-PowerBi/~$IP - EX 31 - Texto para coluna (Anexo).xlsx
Materia_2-PowerBi/~$IP - EX 32 - Grafico simples (Anexo).xlsx
Materia_2-PowerBi/~$IP - EX 34 - Atingir metas (Anexo).xlsx
Materia_2-PowerBi/~$IP - EX 37 - Validacao de dados (Anexo).xlsx
Materia_2-PowerBi/~$IP - EX 38 - Protecao da planilha (Anexo).xlsx
Materia_2-PowerBi/~$IP - EX 42 - Procuras indice e corresp (Anexo).xlsx
Materia_2-PowerBi/~$IP - EX 43 - Procv (Anexo).xlsx
Materia_2-PowerBi/~$IP - EX 44 - Proch (Anexo).xlsx
